$primary-color: hsl(158, 36%, 37%);
$background-color: hsl(30, 38%, 92%);
$big-text-color: hsl(212, 21%, 14%);
$small-text-color: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);
$small-text: 1.4rem;
$big-text: 3.5rem;
$border-raduis: 0.8rem;

@import "global";
